---
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";


---

<MainLayout title="Favoritos">
<!-- <h1>Favoritos</h1> -->
<Title>Favoritos</Title>

</MainLayout>
